.text-editor{
    margin: 10px;
    width: calc(100% - 26px);
    min-height: 80px;
    font-size: larger;
}
.actions{
    display: flex;
}
.actions .save-button,.update-button{
    width: 30%;
    min-width: fit-content;
    border: none;
    background-color: lightgreen;
    cursor: pointer;
}
.actions .dropdown{
    width: 15%;
    min-width: fit-content;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.time{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10px 0 10px;
}
.post{
    position: relative;
}