.login-card > form{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.login-card > form * {
    margin: 10px;
    padding: 10px;
    font-size: large;
}
.login-card > h1{
    text-align: center;
}
.login-card  button{
    background-color: lightgreen;
    font-weight: bold;
    border: none;
    cursor: pointer;
}